
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* --PARTE SUPERIOR-- */

@media screen and (min-width: 480px) {



header {
  background-color: #630a96;
  margin: 0;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*position: fixed; POSSIVEL AJUSTE*/
}



#v-menu {
 font-family: 'Outfit', sans-serif;
 font-size:120% ;
 
 
 
}

#v-menu ul{
  background-color: white;

  justify-content: center;
  display: flex;
  
      

}

#v-menu li {
  display: inline-block;
  padding: 12px;
  border-bottom: none;

  
  
     
}

#v-menu li a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  
}


}

* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}




.menu {
    margin-right: 30px;
    margin-top: -3px;
    
    
}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    margin-left: 5vw;

}

.menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    transition: all ease .3s;
 
    
}

.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    margin-left: 5vw;
    padding-bottom: 10px;

}

/*.menu .menu-faketrigger:checked ~ ul {
    background-color: red;
}*/

.menu .menu-faketrigger:checked ~ .menu-lines span {
    background-color: #630a96;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
} 
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
    opacity: 0;
}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu ul {
    position: absolute;
    z-index: 998;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding-top: 100px;
    
    margin-right: -300px;
    background-color: white;
    transition: all ease .5s;
    border-radius: 10px 0px 0px 10px;
    
}

.menu ul li {
    padding: 10px 30px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease .3s;
}

.menu ul li a:hover {
    color: #999;
}

.menu .menu-faketrigger:checked ~ ul {
    margin-right: 0;
}

#icon-button-menu {
    margin-right: 10px;
}

#logar-hamb {
    width: 250px;
    height: 40px;
    background-color: white;
    color: #630a96;
    border: #630a96;
    border-style: solid;
    border-radius: 8px;
}

#cadastro-hamb {
    width: 250px;
    height: 40px;
    background-color: #630a96;
    color: white;
    border: 0px;
    border-radius: 8px;
}

#icon-profile-perfil {
    width: 70px;
    margin-left: 110px;
}

.user-name-profile {
    color: #630a96;
    font-family: 'Outfit', sans-serif;
    font-size:120% ;
    font-weight: bold;
    margin-left: 112px;
    margin-top: 10px;
}

header hr {
    width: 260px;
}

#search-bar-header {
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: 0px;
    border-style: solid;
}

#market-cart-icon-header {
    width: 30px;
    height: 30px;
    margin-left: 4vw;
}

header nav {
    margin-bottom: 35px;
}

.logo-athena {
    max-height: 40px;
    margin-right: 40px;
    margin-left: 10%;
    margin-top: 5px;
}

