@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    background-color: #e0e0e0;
}

body main h3 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 120%;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

.slider {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;

}

.card {
    background-color: #ffff;
}

.slider .card {
    background-color: #ffff;
    border-radius: 18px;
    margin: 1rem;

    overflow: hidden;
}

.info {
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.price :nth-child(2){
    color: #03AA00;
    margin-top: 5px;
    font-weight: 600;


}

.price :nth-child(1) {
    color: #363636;
    margin-top: 5px;
    font-weight: 600;



}

.info h4 {
    color: #363636;
    font-weight: 600;
    font-size: 20px;

}

.card img {
    border-radius: 0px;
    width: 200px;
    height: 230px;
    
}

a {
    text-decoration: none;
    text-decoration-line: none;
    
}

.img-hero-1 img{
    display: flex;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}

.img-hero-2 img{
    display: flex;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}