<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/home480.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/menu-hamburguer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <title>Home - Athena Shop</title>

</head>
<body>

    <header>
        
        <a href="home"><img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena"></a>

        <input type="search" name="" id="search-bar-header">

        <img src="img/carrinho-de-compras.png" alt="carrinho" id="market-cart-icon-header">
        
        <nav class="menu">
            <input type="checkbox" name="" class="menu-faketrigger">
            <div class="menu-lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
       <ul>

           <img src="img/profile-user.png" alt="Usuário" id="icon-profile-perfil"> 

           <h3 class="user-name-profile">Usuário</h3>

           <br>

           <br>

           <li><a href="home"><img src="img/home.png" id="icon-button-menu">Home</a></li>
           <li><a href="#"><img src="img/delivery.png" id="icon-button-menu">Encomendas</a></li>
           <li><a href="#"><img src="img/heart.png" id="icon-button-menu">Favoritos</a></li>
           <li><a href="#"><img src="img/bell.png" id="icon-button-menu">Notificações</a></li>

           <hr>

           <li><a href="login"><button id="logar-hamb">Logar</button></a></li>
           <li><a href="cadastro"><button id="cadastro-hamb">Cadastrar</button></a></li>

           <hr>
           
           <li><a href="#"><img src="img/setting.png" id="icon-button-menu">Configurações</a></li>

       </ul>

        </nav> 
        
    </header>

   <nav id="v-menu">
        <ul>
            <li id="active"><a href="#">Para Você</a></li>
            <li><a href="#">Uniformes</a></li>
            <li><a href="#">Materiais</a></li>
            <li><a href="#">Mochilas</a></li>
        </ul>

     </nav>  
    
    

    
     <main>
        <a href="">
            <div class="img-hero-1">
                <img src="img/asset1.png" alt="img">
            </div>
        </a>

        <h3>Produtos patrocinados</h3>

        <div class="slider">

            <a href="produto">
                <div class="card">
                    <div class="like"></div>
                    <img src="img/camiseta1.webp" alt="img">
                    <div class="info">
                        <h4 class="nome-produto">Camiseta Branca</h4>
                        <div class="rating"></div>
                        <div class="price">
                            <h5>R$ 69,90</h5>
                            <h5>Frete gratis</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a href="produto">
                <div class="card">
                    <div class="like"></div>
                    <img src="img/mochila1.webp" alt="img">
                    <div class="info">
                        <h4 class="nome-produto">Mochila Preta</h4>
                        <div class="rating"></div>
                        <div class="price">
                            <h5>R$ 69,90</h5>
                            <h5>Frete gratis</h5>
                        </div>
                    </div>
                </div>   
            </a>     
        </div>
        
        <a href="">
            <div class="img-hero-2">
                <img src="img/asset2.png" alt="img">
            </div>
        </a>

        <h3>Mais vistos</h3>

        <div class="slider">

            <a href="produto">
                <div class="card">
                    <div class="like"></div>
                    <img src="img/lapisdecor1.jpg" alt="img">
                    <div class="info">
                        <h4 class="nome-produto">Camiseta</h4>
                        <div class="rating"></div>
                        <div class="price">
                            <h5>R$ 69,90</h5>
                            <h5>Frete gratis</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a href="produto">
                <div class="card">
                    <div class="like"></div>
                    <img src="img/camiseta2.webp" alt="img">
                    <div class="info">
                        <h4 class="nome-produto">Camiseta</h4>
                        <div class="rating"></div>
                        <div class="price">
                            <h5>R$ 69,90</h5>
                            <h5>Frete gratis</h5>
                        </div>
                    </div>
                </div>   
            </a>     
        </div>

        <div class="slider">

            <a href="produto">
                <div class="card">
                    <div class="like"></div>
                    <img src="https://source.unsplash.com/random/200x230/?t-shirt" alt="img">
                    <div class="info">
                        <h4 class="nome-produto">Camiseta</h4>
                        <div class="rating"></div>
                        <div class="price">
                            <h5>R$ 69,90</h5>
                            <h5>Frete gratis</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a href="produto">
                <div class="card">
                    <div class="like"></div>
                    <img src="https://source.unsplash.com/random/200x230/?t-shirt" alt="img">
                    <div class="info">
                        <h4 class="nome-produto">Camiseta</h4>
                        <div class="rating"></div>
                        <div class="price">
                            <h5>R$ 69,90</h5>
                            <h5>Frete gratis</h5>
                        </div>
                    </div>
                </div>   
            </a>     
        </div>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6122120409308728"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-7c+eh+14-4h+6p"
     data-ad-client="ca-pub-6122120409308728"
     data-ad-slot="9890406967"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </main>

    <footer>

        <section class="section-1">
            <p><a href=""  class="p4">Trabalhe conosco</a></p>
            <p><a href="" class="p4">Termos e condições</a></p>
            <p><a href="" class="p4">Como cuidamos da sua privacidade</a></p>
        </section>

        <section class="section-2">
            <p><a href="" class="p4">Acessibilidade</a></p>
            <p><a href="" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
        </section>
    </footer>
</body>
</html>