<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Restrita</title>
</head>
<body>
    <h1>Acesso Restrito</h1>
    <h3>Você não possui permissão0 de acesso a está página!</h3>
</body>
</html>